

body {
    padding: 70px;
    background-color: rgb(192, 191, 191);
}
.wrapper {
    width: 1800px;
    font-size: 25px;
    display: grid;
    grid-template-areas: 
    "h h"
    "n c";
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 150px 1fr;
    grid-gap: 10px;

}
.wrapper-content {
    display: block;
    padding: 20px;
    grid-area: c;
    background-color: rgb(233, 177, 224);
    border-radius: 0px 10px 10px 0px;
}

